*{
     box-sizing: border-box;
     margin: 0; 
}
@font-face{
    font-family: logoFont;
    src: url("./asset/Norse-Bold.otf");
}

.container{
    display: flex; 
}

.container.left-side {
    background-image: url("bg_image.jpg");
    background-color: blue;
    height: 800px;
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;

  }

  .container.right-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }

  div.logo > img{
    width: 50px;
    height: auto;
  }

  .logo{
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: #5e5a5aa3;
    /* margin: 16px; */
    padding: 12px;
  }

  div.logo > h2{

    font-family: logoFont;
    font-size: 56px;
    color: white;
  }
  div.left-side > p{
    position: relative;
  }

  .title > p{
    font-weight: bold;
    margin: 16px;
  }

  fieldset{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border: 3px solid #596D48;
    border-radius: 10px;
    width: 500px;
    margin-top: 24px;
    margin-left: 24px;
  }

  legend{
    font-weight: bold;
    font-size: 18px;
  }
  input{
    border: 2px solid #0000001f;
    border-radius: 3px;
    margin-right: 24px;
  }

  input:valid{
    border-color: green;
  }
  input:invalid{
    border-color: red;
  }
  
  form{
    display: flex;
    gap: 8px;
  }

  .form.left{
    display: flex;
    flex-direction: column;
  }

  .form.right{
    display: flex;
    flex-direction: column;
  }

  button{
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    width: 200px;
    padding: 12px 24px;
    margin: 24px;
    text-align: center;
    background-color: #596D48;
  }

  /* button:valid{
    border-color: green;
  } */

  button:invalid{
    border-color: red;
  }

 p{
  margin: 16px;
 }
